<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
<%- include layouts/bootstrap %>
<%- include layouts/navi %>
  </head>
  <body>
  <div class="container">
    <div class="alert alert-success" role="alert">
      You are at TOPIC: <strong> <%= data_topic.name_topic%> </strong>
    </div>
    <div class="form-group">
    <form action="/topics/posts/<%= data_topic.id%>" method="post" >
        <input placeholder="Insert Comment" type="text" name="name_post" class="form-control" id="exampleFormControlInput1" >
        <br>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    </div>

    <div class="list-group">
      <% data_post.forEach(dt =>{%>
      <div class="row">
        <div class="col-md-10">
          <a href="/topics/posts/<%= data_topic.id%>/edit/<%=dt.id%>" class="list-group-item list-group-item-action list-group-item-primary">
            <strong>   <%= dt.name_post %> <br> </strong>
              <% if (dt.createdAt.toLocaleString() == dt.updatedAt.toLocaleString()) { %>
                <%= dt.updatedAt.toDateString()+' '+dt.updatedAt.toLocaleTimeString(); %>
              <% } else {%>
                <%= dt.updatedAt.toDateString()+' '+dt.updatedAt.toLocaleTimeString(); %> Edited
              <% }%>
                by <%= dt.User.username %>
            </a>
        </div>
        <div class="col-md-2">
          <% if(user_id == dt.UserId) { %>
            <div class="list-group">
              <a href="/topics/posts/<%= data_topic.id%>/edit/<%=dt.id%>">EDIT</a>
            </div>
            <br>
            <div class="list-group">
            <a href="/topics/posts/<%= data_topic.id%>/delete/<%=dt.id%>">DELETE </a>
            </div>
          <%}%>
        </div>
        </div>
      <%})%>
    </div>
    </div>
  </body>
</html>
