<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  <%- include layouts/bootstrap %>
  <%- include layouts/navi %>
  </head>
  <body>
    <div class="container">
      <form action="/topics" method="post" >
        <div class="form-group">
          <label for="exampleFormControlInput1">Create New Topic</label>
          <input type="text" name="name_topic" class="form-control" id="exampleFormControlInput1" placeholder="Enter new topic here">
        </div>
      <input class="btn btn-primary" type="submit" value="Submit">
      </form>
      <br>
      <div class="list-group">
        <a class="list-group-item list-group-item-action"> PICK YOU TOPIC</a>
          <% data.forEach(dt =>{%>
            <div class="row">
              <div class="col-md-10">
                <a href="/topics/posts/<%=dt.id%>" class="list-group-item list-group-item-action list-group-item-primary">
                  <strong> <%= dt.name_topic %> <br> </strong>
                  <% if (dt.createdAt.toLocaleString() == dt.updatedAt.toLocaleString()) { %>
                    <%= dt.updatedAt.toDateString()+' '+dt.updatedAt.toLocaleTimeString(); %>
                  <% } else {%>
                    <%= dt.updatedAt.toDateString()+' '+dt.updatedAt.toLocaleTimeString(); %> Edited
                  <% }%>
                  by <%= dt.User.username %>
                  </a>
              </div>
              <div class="col-md-2">
                <% if(user_id == dt.UserId) { %>
                  <div class="list-group">
                    <a href="/topics/edit/<%=dt.id%>">EDIT</a>
                  </div>
                  <br>
                  <div class="list-group">
                    <a href="/topics/delete/<%=dt.id%>">DELETE </a>
                  </div>

                <%}%>
              </div>
            </div>
          <%})%>
      </div>


    </div>
  </body>
</html>
